
body,
html {
  width: 100%;
  padding: 0;
  
  font-family: 'Anton', sans-serif;
  font-family: 'Rubik', sans-serif;
}


.contact-us {
  position: relative;
  font-size: 60px;
  height: 900px;
  color: white;
}

.linkkk {
  text-decoration: none;
  color: black;
}

.logo {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contactdiv {
  position: relative;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  overflow: hidden;
  /* Add this line to hide the blurred image outside the div */
  height: auto;
}



.h1titel {
  font-size: 50px;
}

.contactbackground {
  background-image: url('../img/woman-working.jpg');
  background-size: cover;
  background-position: center;
}

.contact-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../houseImages1/6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
  z-index: -1;
}

.houses {
  width: 100%;
  height: 550px;
}

.card:hover {
  height: 101%;
  border-color: green;
}

.card {
  height: 100%;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.whiteklein {
  width: 100%;
  height: 20px;
}

.housepage {
  height: 1000px;
  width: 99%;
}


.card-body {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightslategray;
  border-radius: 10px;
  border-style: inset;
  margin: -5px !important;
}

.btn-custom:hover {
  border-color: green;
  transform: scale(1.05);
  background-color: green;
}

.btn-custom {
  transition: all 0.2s;
  border-radius: 40px;
  background-color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.white {
  width: auto;
  height: 100px;
}

h1 {
  font-size: 80px;
}

.navbar {
  background-color: white;
  width: 100%;
  height: 5vh;
  position: fixed;

}

.navbar .navbar-brand img {
  height: 50px;
  width: auto;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 10px;
}

.navbar .navbar-nav {
  margin-left: auto;
}



.nav-link {
  margin-left: 10px;
  transition: all 0.5s;
}

.nav-link:hover {
  color: black;
}

.kaarthouder {
  width: 100%;
}

.contactForm {
  width: 100%;
}

.homePage {
  width: auto;
}

.contactPage {
  width: 100%;
  overflow-x: hidden;
  height: auto;
  color: white;
}

.foot {
  padding-bottom: 60px;
}

/* Carousel container */
.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

/* Slides */
.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

h2 {
  font-size: 40px;
}

.emailbut {
  color: black;
}

.emailbut:hover {
  color: black
}




/* Navigation arrows */
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}


.kdm {
  color: black;
}

.kdmlink {
  color: black;
  text-decoration: none;
}

.slick-slide {
  max-height: 800px;
  max-width: auto;
}

/* Add custom styles here if needed */

/* Slick Carousel default button styles */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: none;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -40px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -40px;
}

.slick-prev:before {
  content: "←";
}

.slick-next {
  right: -40px;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -40px;
}

.slick-next:before {
  content: "→";
}

.slick-dots {
  position: absolute;
  bottom: 20px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: none;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

#image-carousel img {
  max-width: 100%;
  height: auto;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
}

.modal-content {
  top: 16vh;
}

#houseData {
  margin-top: 25%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: 1040;
  pointer-events: none;
  display: none;
}



.star-ratingg {
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
}

.star-rating {
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
}

.star-rating .star {
  display: inline-block;
  transition: color 0.2s;
}

.star-rating .star.selected {
  color: orange;
}


.revcard {
  height: auto;
 
}

.socialLogo {
  width: 30px;
  transition: all 0.3s;
  margin: 13px;
}

.socialLogo:hover {
  scale: 1.2;
}

a {
  color: transparent;
}

.kaartena {
  color: black;
  text-decoration: none;
}

.test {
  color: black;
  height: 86vh;
  margin-top: 8vh;
}

.img-contact {
  height: 100%;
  width: auto;
  border-radius: 50px;
  transition: all 0.5s;
}
.img-contact:hover {
  translate: 0 -20px;
}

.cardHome {
  backdrop-filter: blur(50px);
  margin-top: 7vh;
  width: 70vh;
  height: 70vh;
  border-radius: 50px;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card1:hover {
  translate: 0 -20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../houseImages1/18.jpg");
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card2:hover {
  translate: 0 -20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../houseImages2/19.jpg");
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../houseImages1/18.jpg");
  color: rgba(255, 255, 255, 0.791);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 6vh;
}

.card2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../houseImages2/19.jpg");
  color: rgba(255, 255, 255, 0.791);
  background-repeat: no-repeat;
  background-size: cover;
}

 .card-link {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .Meeting {
  height: 70px;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
 }

 .meetinga {
  color: white;
  text-decoration: none;
 }